.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('./assets/dirtBackground.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: black;
}

.form-inputs-row {
  display: flex;
  gap: .25rem;              
  margin-bottom: 1rem;
  justify-content: center;
}

.form-labels {
  display: flex;
  gap: 15rem;              
  margin-bottom: 0.25rem;
  font-weight: bold;
  justify-content: center;
}

.form-labels label {
  text-align: center;
  
}

.App-link {
  color: #61dafb;
}

.App-form {
  background-color: #C6C6C6;
  border-color: black;
  border-width: 2px;
  border-style: double;
  width: 450px;
  padding: 20px;
}

.App-quantity {
  background-color: #8B8B8B8B;
  width: 50px;
}
